@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  
  --animate-shake: shake 0.2s ease-in-out 0s 2;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
  }
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
}